.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 4vw;
  z-index: 8;

  .navbar-btn {
    background: #111;
    color: white;
    padding: 22px 35px;
    border-radius: 80px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
