.hero {
  width: 100vw;
  padding: 5vw 3vw;

  .hero-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15vw;
    font-weight: 400;
    z-index: 2;

    .hero-title-content {
      width: 100%;
      display: flex;

      &.middle {
        justify-content: center;
        margin-top: calc(-0.2 * 15vw);
      }

      &.bottom {
        justify-content: flex-end;
        margin-top: calc(-0.2 * 15vw);
      }
    }
  }

  .hero-text {
    position: absolute;
    top: 0;
    right: 0;
    margin: 13vw 10vw 0 0;
    font-size: 1.2vw;
    width: 22vw;

    .text-anime .text-anime-word {
      margin-right: 0.3vw;
    }
  }

  .hero-image {
    width: 100%;
    margin-top: -6.5vw;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    padding: 20vw 3vw;

    .hero-title {
      font-size: 18vw;

      .hero-title-content {
        &.middle,
        &.bottom {
          justify-content: flex-start;
          margin-top: calc(-0.2 * 18vw);
        }
      }
    }

    .hero-text {
      position: static;
      margin: 10vw 0 15vw 0;
      width: 100%;
      font-size: 6vw;

      .text-anime .text-anime-word {
        margin-right: 1.5vw;
      }
    }

    .hero-image {
      margin-top: 0;
    }
  }
}
