.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33%;
  animation-timing-function: cubic-bezier(0.05, 0.75, 0.19, 0.98);

  // &.left {
  //   transform: translateY(-400%);
  //   gap: 500px;
  //   animation: column-left 3000ms forwards;
  // }

  &.middle {
    transform: translateY(200%);
    gap: 400px;
    animation: column-middle 3500ms forwards;
  }

  &.right,
  &.left {
    transform: translateY(-300%);
    gap: 200px;
    animation: column-right 3000ms 500ms forwards;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    &.middle {
      width: 100%;
    }

    &.right,
    &.left {
      display: none;
    }
  }
}

@keyframes column-left {
  10% {
    gap: 500px;
  }
  100% {
    transform: translateY(-20%);
    gap: 30px;
  }
}

@keyframes column-middle {
  40% {
    gap: 400px;
  }
  100% {
    transform: translateY(0%);
    gap: 30px;
  }
}

@keyframes column-right {
  40% {
    gap: 200px;
  }
  100% {
    transform: translateY(20%);
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  @keyframes column-middle {
    40% {
      gap: 400px;
    }
    100% {
      transform: translateY(0%);
      gap: 30px;
    }
  }
}
