.enter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: hidden;
  z-index: 4;

  .enter-column-container {
    position: absolute;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    z-index: 4;
  }

  .enter-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #111;
  }

  .enter-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 50px;
    z-index: 3;
  }

  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}
